body {
    font-family: 'Gilam', sans-serif;
    background: #171717;
    color: #FFFFFF;
}

.position {
    margin: 46px 0 239px 0;
}
.position-fon {
    margin: 0 230px 0 230px;
}
.fon1 {
    background: url("../img/parallax-bg.jpeg") no-repeat fixed;
}
.fon2 {
    background: url("../img/header-bg.jpeg") no-repeat fixed;
}
.fon3 {
    background-color: #0E0E0E;
}

/*header styles*/

.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-phone-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E4B564;
}

.test {
    display: flex;
    flex-direction: row;
    padding: 10px 25px 10px 25px;
}

.hyperlink-phone {
    text-decoration: none;
}

.header-text {
    padding-left: 10px;
}

.header-text-p {
    color: #E4B564;
}

/*main-styles*/

.main-text {
    width: 1182px;
}

.main-text-p1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.main-text-p2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.flex-container {
    justify-content: center;
    align-items: center;
}
.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-left {
    padding-top: 44px;
    padding-left: 50px;
}
.text-leftBold {
    font-weight: bold;
    padding-left: 50px;
}

.grid-container1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr repeat(2, 0.5fr) 1fr;
    grid-auto-rows: 468px;
    grid-template-areas:
    "item1-1 item1-2 item1-2 item1-3"
    "item1-4 item1-4 item1-5 item1-5";
    box-sizing: border-box;
}
.grid-item {
    display: flex;
    text-align: center;
    justify-content: center;
}
.grid-item1-1 {
    grid-area: item1-1;
    background-color: #634F2C;
}

.grid-item1-2 {
    grid-area: item1-2;
    background-color: #B4A385;
}

.grid-item1-3 {
    grid-area: item1-3;
    background-color: #E4B564;
}

.grid-item1-4 {
    grid-area: item1-4;
    background-color: #635A4A;
}

.grid-item1-5 {
    grid-area: item1-5;
    background-color: #B08C4D;
}

.grid-container2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-template-areas:
    "item2-1 item2-2 item2-3"
    "item2-1 item2-2 item2-3"
    "item2-1 item2-2 item2-5"
    "item2-4 item2-2 item2-5"
    "item2-4 item2-2 item2-5"
    "item2-4 item2-6 item2-5"
    "item2-4 item2-6 item2-7"
    "item2-4 item2-6 item2-7"
    "item2-4 . item2-7";
    box-sizing: border-box;
}

.grid-item2-1 {
    grid-area: item2-1;
    background-color: #0E0E0E;
}
.grid-item2-2 {
    grid-area: item2-2;
    background-color: #242424;
}
.grid-item2-3 {
    grid-area: item2-3;
    background-color: #1F1F1F;
}
.grid-item2-4 {
    grid-area: item2-4;
    background-color: #1F1F1F;
}
.grid-item2-5 {
    grid-area: item2-5;
    background-color: #0E0E0E;
}
.grid-item2-6 {
    grid-area: item2-6;
    background-color: #E4B564;
    height: 300px;
}
.color-black {
    color: #0E0E0E;
}
.grid-item2-7 {
    grid-area: item2-7;
    background-color: #0A0909;
}

/* middle-section*/
.middle-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}

.text-section {
    font-size: 50px;
}
.test2 {
    display: flex;
    flex-direction: row;
    padding: 10px 25px 10px 10px;
}

/* end-section*/
.end-flex-container {
    margin-top: 40px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 391px;
    grid-template-areas:
    "item3-1 item3-2 item3-3"
    "item3-4 item3-5 item3-6";
    box-sizing: border-box;
}
.grid-item3-1 {
    grid-area: item3-1;
    background-color: #634F2C;
}
.grid-item3-2 {
    grid-area: item3-2;
    background-color: #E8D2ABC2;
}
.grid-item3-3 {
    grid-area: item3-3;
    background-color: #E4B564;
}
.grid-item3-4 {
    grid-area: item3-4;
    background-color: #635A4A;
}
.grid-item3-5 {
    grid-area: item3-5;
    background-color: #B08C4D;
}
.grid-item3-6 {
    grid-area: item3-6;
    background-color: #634F2C;
}
.photo-column {
    display: flex;
    flex-direction: column;
}
.correction {
    display: flex;
    flex-direction: column;
}
.correction-p {
    font-size: 22px;
}
.correction-p-bold {
    font-weight: bold;
}
.correction-p-bold-padding {
    padding-top: 30px;
}
